#sidebar {
   width: 220px;
}
#maincontainer {
     display: flex;
     flex-direction: row;
}

#sidebar-content {
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
    }
    #maincontainer {
        flex-direction: column;
    }
    #sidebar-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-height: 200px;
    }
}

@media screen and (min-width: 700px) {
    #sidebar {
        width: 200px;
    }
}

@media screen and (min-width: 900px) {
    #sidebar {
        width: 200px;
    }
}